.par:hover{
    box-shadow: 0 0 5px;
    color: #ebe9e9;               
    border-radius: 10px;
    font-size: 26px;
}
.link:hover{
    box-shadow: 0 0 5px;
    color: #edecef;
    font-size: 25px;
    border-radius: 10px;
}
.link{
    color: #05052f;
    transition: 0.25s;
    
}
.mar:hover{
    box-shadow: 0 0 5px;
    color: #100de9;
}
.mar{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10px;
    color: rgb(0, 0, 0);
    background-color:transparent;
    border-style:ridge;
    border-radius: 40px;
        
}
.Aboutimg{
    width: 950px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 8px;
    margin-bottom: 0px;
    
}
.home:hover{
   
    box-shadow: 0 0 5px;
    color: #f9f9f9;
    font-size: 40px;
    
}

.home{
    font-size: 35px;                 
    color: rgb(0, 0, 0); 
    border-radius: 8px; 
    margin-left: 50px;
    transition: 0.25s;
    
}
.ul{
    font-size:25px ;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
    margin-left: 50px;
    margin-top: 5px;
    box-shadow: 0 0 5px;
    
}
.par{
    font-size: 25px;
    margin-left: 50px;
    border-style: solid;
    width: 1400px;
    border-radius: 15px;
    text-align:justify ;
    margin-bottom: 2px;
    margin-top: 0px;
    box-shadow: 0 0 5px;
    text-align:center;
    transition: 0.4s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Ab{
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}
.bod{
    background:linear-gradient(rgb(76, 198, 207),rgb(45, 113, 180));
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
    background-size: cover;

}

